@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
    font-family: Montserrat;
}

.header {
    text-align: center;
    height: 83px;
    color: #eaeaea;
    background-position: right;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
    background-color: none;
}

.nav-link,
.login-link {
    color: #eaeaea;
    height: 22px;
    text-decoration: none;
}

.navbar {
    background: linear-gradient( 180deg, #1a1a1c 7.34%, rgba(26, 26, 28, 0.645747) 46.67%, rgba(26, 26, 28, 0) 91.57%);
    background-blend-mode: multiply;
    height: 83px;
}

.btn-primary {
    --bs-btn-bg: #aa9261;
    border-radius: 0;
}

.studying {
    height: 37px;
    width: 138px;
}

.login {
    --bs-breadcrumb-divider: "|";
}

#carouselExampleCaptions {
    height: 100%;
}

.slider-img-1 {
    background-image: url("img/landingSlider01.png");
}

.image-placeHolder {
    height: 690px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #1a1a1c;
}

.carousel-img-1 {
    background-image: url("img/landingSlider01.png");
}

.carousel-img-2 {
    background-color: #0d0c0c;
    background-image: url("img/landingSlider02.png");
}

.carousel-img-3 {
    background-image: url("img/landingSlider03.png");
}

.carousel-indicators [data-bs-target] {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    background: rgba(26, 26, 28, 0.4);
    border: 1px solid #aa9261;
}

.carousel-indicators .active {
    background-color: #aa9261;
}

.carousel-indicators::before,
.carousel-indicators::after {
    display: block;
    height: 0px;
    width: 88px;
    background-color: red;
    border: 1px solid #aa9261;
    content: "";
    margin: auto 10px;
}

.carousel-caption {
    width: 535px;
    height: 310px;
    bottom: 190px;
    background: rgba(200, 189, 189, 0.2);
    border-radius: 0px;
    box-shadow: 0 0 15px rgba(200, 189, 189, 0.4);
    /* Параметры тени */
    padding: 30px;
    text-align: left;
}

.carousel-caption>h2 {
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
}

.carousel-caption>h3 {
    width: 256px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    text-transform: uppercase;
}

.carousel-caption>ul>li {
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    text-transform: uppercase;
}

.carousel-caption>button {
    height: 37px;
    font-style: normal;
    width: 228px;
    font-weight: 700;
    font-size: 11px;
    line-height: 1px;
}


/* Функционал... */

.trade-functional {
    background: #aa9261;
}

.trade-functional>* {
    padding-bottom: 40px;
}

.trade-functional>*>h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
    color: #ffffff;
    padding-top: 44px;
    min-height: 123px;
    max-width: 926px;
}

.trade-functional>*>p {
    max-width: 725px;
}

.trade-functional>* {
    justify-content: center;
}

.func-items>.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.func-items>.col>img {
    max-width: 64px;
    height: 100%;
}

.icon-caption {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    /* margin-bottom: 0px; */
    min-height: 36px;
    width: 164px;
    text-transform: uppercase;
}

.tarifs {
    background: #e5e5e5;
    background-image: url(img/tarifsLines.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    padding: 50px;
}

.tarif-item {
    /* position: relative; */
    /* max-width: 270px; */
    min-height: 322px;
    font-size: 9px;
    font-weight: 400;
    line-height: 10px;
    background: #eaeaea;
    box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.25), -2px -2px 5px rgba(255, 255, 255, 0.7), -13px -13px 11px rgba(255, 255, 255, 0.19), 6px 7px 18px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 5%;
}

.tarif-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    color: #aa9261;
}

.tarif-caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarif-button {
    font-size: 8px;
    font-weight: 700;
    width: 100%;
}

.tarif-item-list {
    list-style: url("img/ListSticker.svg");
}

.programs-ad {
    background: #353535;
    padding: 50px;
}

.programs-caption>*>h2 {
    color: #eaeaea;
    padding: 10px;
}

.programs-caption>*>p {
    padding: 10px;
    color: #aa9261;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.prog-pic {
    position: relative;
    padding: 20px;
}

.prog-pic-cap {
    position: absolute;
    top: 40%;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    color: #eaeaea;
}

.programs-pics:hover>*>img {
    opacity: 0;
    transition: 1s;
}

.programs-pics:hover>*>.prog-pic-cap {
    opacity: 1;
    transition: 1s;
}

.prog-pic:hover>img {
    opacity: 1;
}

.prog-pic:hover>.prog-pic-cap {
    opacity: 0;
}


/* TODO: 
    footer

    header menu fix

    carousel defalt namings fix
    carousel mob ver

    tarifs links fix - stick to bottom and fied size in mob ver

    ? fix pic captions in program ads in mob ver

*/